################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MSAB.PubSub.CanPerk/packages
/MSAB.PubSub.CanPerk/MSAB.PubSub.CanPerk/bin/Debug
/MSAB.PubSub.CanPerk/MSAB.PubSub.CanPerk/obj
/MSAB.PubSub.CanPerk/.vs/MSAB.PubSub.CanPerk/v15
